<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="JsonFileName" value="Mazor" />
      <add key="JsonFilePath" value="" />
      <add key="LogToFile" value="False" />
      <add key="LogFilePath" value="Mazor" />
      <add key="MapInitialZoomLevel" value="16" />
      <add key="MapInitialLatitude" value="32.05013752290418" />
      <add key="MapInitialLongitude" value="34.925114988891636" />
      <add key="LocationServiceCountry" value="IL" />
      <add key="LocationServiceCity" value="Mazor" />
      <add key="LocationServiceBingKey" value="sWso5nC3GzNly45E6OOc~cIvCiT2Z6cXux0c8GvBb0w~Al-KC2g_9V8ETMZ-YdKyKEiPDQGRthztTwCwg_LgOpadEfFxeZ_xFjF0lpVgJLQs" />
      <add key="LocationServiceUrl" value="http://dev.virtualearth.net/REST/v1/Locations" />
      <add key="PingTestAddress" value="8.8.8.8" />
      <add key="PingTestIntervalInSeconds" value="10" />
    </appSettings>
</configuration>